@import url('https://fonts.googleapis.com/css2?family= Roboto & display = swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
	font-family: 'Inria Sans', sans-serif;
    background-color: #ECECEC;
}

header {
	background: white;
    border-bottom: solid 2px rgb(176, 176, 176);
	padding: 20px auto;
}

.caixa {
	position: relative;
    margin-right: 10%;
}
.logo{
    width: 317px;
    height: 248px;
    top: 0px;
    left: 0px;
}

nav {
	position: absolute;
	top: 110px;
    right: 0%;
    margin: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #2b2b2b;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
}

nav a:hover {
	color: #c7197e;
	text-decoration: underline;
}
main{
    position: relative;
    min-height: 100vh;
}
h2{
    text-align: center;
    margin: 2%;
    text-transform: uppercase;
}
.img-conteudo{
    width: 284px;
    height: 203px;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.link-principal{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.link-principal:hover {
	color: #12003c;
    text-decoration: underline;
}
section{
    border-bottom: solid 1px #7A7A7A;
    padding-bottom: 2.5rem;
}
.conteiner{
    width: 640px;
    width: 40%;
	display: inline;
	margin: 0 0 0 20px;
    position: relative;
    margin-right: 10%;
    
}
.lista-principal{
    width: 40%;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	display: inline-block;
    text-align: center;
    list-style: none;
    margin-left: 10%;
    margin-top: 10%;
}
footer{
    text-align: center;
    background: #7E9BFF;
    padding: 15px 0;
 
}
.texto{
    color: #FFFFFF;
    font-weight: bold;
	font-size: 18px;
}